@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lexend:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-lexend: "Lexend", sans-serif;

  --color-primary: #4648d4;
  --color-primary-container: #6063ee;
  --color-on-primary-container: #fffbff;
  
  --color-secondary: #4a6549;
  --color-secondary-container: #ccebc7;
  --color-on-secondary-container: #506b4f;

  --color-tertiary: #765a05;
  --color-tertiary-container: #917321;
  
  --color-surface: #faf9f8;
  --color-surface-dim: #dadad9;
  --color-surface-bright: #faf9f8;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f4f3f2;
  --color-surface-container: #eeeeed;
  --color-surface-container-high: #e9e8e7;
  --color-surface-container-highest: #e3e2e1;
  
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #464554;
  
  --color-outline: #767586;
  --color-outline-variant: #c7c4d7;
  
  --radius-xl: 1.5rem;
  --radius-lg: 1rem;
  --radius-md: 0.75rem;

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans;
    -webkit-tap-highlight-color: transparent;
  }
}

.ghost-border {
  border-top: 1px solid #F2F0EB;
}

/* Hide scrollbar for clean minimal look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
